@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --font:"Inter", sans-serif;
    --cor-1:#C1CFA1;
    --cor-2:#657c45;
    --cor-3:#a676c2;
    --cor-4:#E7CCCC;
}

body{
    background-color: var(--cor-1);
    color: var(--cor-2);
    font-family: var(--font);
}

footer{
    background-color: var(--cor-4);
    color: var(--cor-3);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}